/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root {
  line-height: 1.5;
    /* font-family: "Poppins", sans-serif; */


  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Seeket Brand Colors */
  --primary-orange: #ff5c00;
  --primary-orange-hover: #ff7324;
  --primary-orange-light: #ff8c42;
  --accent-red: #ff3366;
  --accent-pink: #ff6b9d;
  --text-dark: #1a1a1a;
  --text-gray: #666;
  --text-light: #999;
  --bg-light: #fafafa;
  --bg-orange-tint: #fef5f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-dark);
  background-color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
